<div class="row center">
	<%= image_tag("Home/THEATRE_LOGO_medium.jpg", alt: "Logo") %>
</div>
<% if !signed_in? %>
	<%= render 'hero' %>
<% end %>
<div class="row">
	<aside class="span2 center">
		<section class="center">
			<%= render 'tickets' %>
		</section>
		<section class="center">
			<%= render 'social' %>
		</section>
	</aside>
	<div class="span8 offset2 center" id="main_section">
		<section id="ad">
			<%= render 'advertise' %>
		</section>
		<section id="current">
			<%= render 'current_season' %>
		</section>
		<div class="row">
			<section class="span4">
				<%= render 'about' %>
			</section>
			<section class="span4">
				<%= render 'help' %>
			</section>
		</div>
		<iframe width="620" height="360" id="vid" src="//www.youtube.com/embed/OgenqJIQ28s?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
	</div>
</div>